@main-color: #FF5B5B;

a {
    color: #555;
                text-decoration: underline;

    &:hover {
        color: @main-color;
    }

    &.button-like {
        cursor: pointer;
    }
}

.nav a, .navbar a {
  text-decoration: none;
}

body {
    border-top: 6px solid @main-color;
}

header {
  font-size: 90%;
}

blockquote {
  padding: 1rem;
  background: #eee;
  border-left: 3px solid @main-color;
}

#messages-zone .alert {
  margin-top: 16px;
}

// cookies banner
#cookies-eu-banner {
  background: @main-color;
  color: white;

  a {
    color: white;
  }

  button {
    background: @main-color;
    color: white;
    cursor: pointer;
    border: 1px solid white;

    &:hover {
      background: white;
      color: @main-color;
    }
  }
}

// page content
#page-content {
    background: #ddd url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='50px'> \
      <polygon points='0,0 10,0 10,10 0,10' style='fill:white;'/> \
    </svg>") top left repeat-x;

    summary {
      background: #eee;
      border: 1px dashed #555;
      display: block;
      padding: 1rem;
      margin: 1rem 0;
    }

  #content {
    padding-left: 0;
    padding-right: 0;

    section {
      padding: 8px 16px;
      margin-bottom: 16px;
      background: white;
      border: 1px solid #ddd;
      border-top: 4px solid @main-color;
      font-size: 1.15rem;
      line-height: 1.4;

      &.page-next {
        border-top: none;
        background: lighten(@main-color, 5%);
        margin-top: -17px;

        p {
          padding: 0;
          margin: 0;
          text-align: center;
          color: white;

          a {
            color: white;
            font-weight: bold;
          }
        }
      }

      h2 {
        color: @main-color;
      }

      p.newsletter-info {
          color: #555;
          font-size: 90%;
          background: #eee;
          padding: 4px 8px;
      }

      img {
          max-width: 100%;
      }
    }
  }
}

// newsletter
#newsletter {
  background: @main-color;
  color: white;

    padding: 24px 0;

    p {
        font-size: 150%;
        font-weight: bold;
    }

  form {

    input {
        height: 40px;
        border: 2px solid white;
    }

    input[type=submit], button {
        background: @main-color;
        color: white;
        cursor: pointer;
        border-color: white;

        &:hover {
            background: white;
            color: @main-color;
        }
    }
  }
}

// footer part
footer {
    #bottom-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .bottom-nav-block {
            flex-grow: 1;
            margin-right: 8px;
            &:last-child {
              margin-right: 0;
            }

            a {
                text-decoration: none;
                font-size: 90%;
            }

            h3 {
                color: @main-color;
                font-weight: bold;
                font-size: 95%;
            }

            ul {
                padding: 0;
                li {
                    display: block;
                    padding: 4px 0;
                }
            }
        }
    }

    #bottom-txt {
        color: #555;
        font-size: 90%;
    }
}

// admin lists
table.admin-list {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-top: 1px solid #ddd;

        &.newsletter-draft {
            background: #fafafa;
        }

        td {
            padding: 16px 0;

            .buttons .button-like {
                font-size: 150%;
            }

            &.icon {
              font-size: 200%;
            }

            .info {
                display: block;
                font-size: 80%;
                color: #555;
                padding-top: 8px;
            }

            &.left .title {
                color: black;
                font-weight: bold;
            }

            &.right {
                text-align: right;

                .modal {
                  text-align: left;
                }
            }
        }
    }
}
