{% extends "base.ex.html" %}

{% block page_title %}{{ album.title }} (album photo){% endblock %}

{% block content %}
    <section>
    <h2>{{ album.title }}</h2>

        <p class="page-info">
            {% if current_user.is_authenticated %}
                Dernière modification <b>{{ album.date_modified|date_formatter }}</b>.
                <a href="{{ url_for('admin.album', id=album.id) }}">Éditer cet album</a>.
            {% endif %}
            <a href="{{ url_for('visitor.albums') }}">Retour à la liste des albums photo</a>.
        </p>

    {{ album.description|safe }}
    <div class="row" id="lightgallery">
        {% for picture in pictures %}
            <a
                    href="{{ picture.url() }}"
                    class="container col-md-6 col-lg-4 my-4"
                    data-pinterest-text="Pin it1"
                    data-tweet-text="{{ album.title }}"
            >
            <img src="{{ picture.url_thumb() }}" alt="{{ album.title }}" style="max-height:300px;" />
            </a>
        {% endfor %}
    </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.5.0/lightgallery.min.js" integrity="sha512-FDbnUqS6P7md6VfBoH57otIQB3rwZKvvs/kQ080nmpK876/q4rycGB0KZ/yzlNIDuNc+ybpu0HV3ePdUYfT5cA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.5.0/plugins/share/lg-share.min.js" integrity="sha512-yEGrATBiy50yeZFbev13bZClHPp0J54MtYtgfLBpICRjx+7N+jw09DLOEYmZ6dotLTXFyhw1aEcJ5UwV4ihS9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.5.0/plugins/hash/lg-hash.min.js" integrity="sha512-VboI13y+zwFtpuJYWQ5PRlQ+9T9lFOaFucE+ibB+TrQPsSHICv8uXDJ/PxyP6dtlZCDfl1SFNmj0I1FSAkWyBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.5.0/plugins/autoplay/lg-autoplay.min.js" integrity="sha512-4SHz3kWC669ys+fIc9+bO9wkOTkg599KEwF5HN0tnanOqGVeqdcLQWDkCPUUSMoxb+4Wy88yd4ozNsSL9nhYdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        plugins: [lgShare, lgHash, lgAutoplay]
    });
</script>

{% endblock %}

{% block other_head_stuffs %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.5.0/css/lightgallery.min.css" integrity="sha512-Szyqrwc8kFyWMllOpTgYCMaNNm/Kl8Fz0jJoksPZAWUqhE60VRHiLLJVcIQKi+bOMffjvrPCxtwfL+/3NPh/ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.5.0/css/lg-share.min.css" integrity="sha512-dOqsuo1HGMv5ohBl/0OIUVzkwFLF8ZmjhpZp2VT2mpH5UuOJXwtBhxxtbrrEIpvTDWm7mESg0JsEl4zkUGv/gw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.5.0/css/lg-autoplay.min.css" integrity="sha512-LlHSkMTvyRwh1YjzXwk6bxjdt3huGhCyK1vlCC6f7Db/g+2sYXz2YNasyZHnMUgykqPksmD/44DIINhqpWBjig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}