{% extends "base.ex.html" %}

{% block page_title %}Albums photo{% endblock %}


{% block section_content %}
    <p>Retrouvez ici les photos de nos différentes activités.</p>
    <div id="album-list">
        {% for album in albums %}

        <div class="album">
            <h3>{{ album.title }}</h3>

            <div class="row">
                {% for im in album.ordered_pictures()[:3] %}
                    <div class="col-md-3 col-sm-6 mb-4">
                        <a href="{{ url_for('visitor.album', id=album.id, slug=album.slug) }}#lg=1&slide={{ loop.index - 1 }}">
                        <img class="mr-3 im" src="{{ im.url_thumb() }}" alt="{{ album.title }}" width="100%" />
                            </a>
                    </div>

                    {% endfor %}

                 <div class="col-md-3 col-sm-6 mb-4">
                     <a href="{{ url_for('visitor.album', id=album.id, slug=album.slug) }}#lg=1&slide=3" class="im more">...</a>
                 </div>
            </div>


                {{ album.description|safe }}

                <p><a href="{{ url_for('visitor.album', id=album.id, slug=album.slug) }}" class="goto-album">Voir cet album</a></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}