{% extends "base.ex.html" %}

{% block page_title %}Albums photo{% endblock %}

{% block content %}
    <section>
    <h2>Albums photo</h2>
    <p>Retrouvez ici les photos de nos différentes activités.</p>
    <div class="d-flex justify-content-center flex-wrap">
        {% for album in albums %}

        <div class="card mx-2 my-2 flex-shrink-0" style="max-width: 500px;">
            <a href="{{ url_for('visitor.album', id=album.id, slug=album.slug) }}">
                <img class="card-img-top" src="{{ album.get_thumbnail().url() }}" alt="{{ album.title }}" />
            </a>
            <div class="card-body">
                <h5 class="card-title"><a href="{{ url_for('visitor.album', id=album.id, slug=album.slug) }}">{{ album.title }}</a></h5>
                <p class="card-text">{{ album.description|safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>
{% endblock %}