{% from 'bootstrap/utils.html' import render_messages %}
{% from 'bootstrap/form.html' import render_form_row %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}{% endblock %} - {{ site_name }}</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    <meta name="description" content="{{ site_name }} : {{ site_description }}">
    <meta name="keywords" content="{{ site_keywords }}">

    {{ bootstrap.load_css() }}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    {% block other_head_stuffs %}{% endblock %}
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon">
</head>

<body>
    {% if gtag != '' %}
    <div id="cookies-eu-banner" class="jumbotron-fluid" style="display: none;">
        <div class="container pb-3 pt-3">
            Autorisez-vous <a href="https://policies.google.com/privacy?hl=fr-BE">Google Analytics</a> à recueillir des données à des fins statistiques, via des cookies ?
            <a href="{{ cookies_explain_page }}" id="cookies-eu-more">Plus d'infos ici</a>.
            <span class="buttons ml-3">
            <button id="cookies-eu-reject">Rejeter</button>
            <button id="cookies-eu-accept">Accepter</button></span>
        </div>
    </div>
    {% endif %}

    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a href="/" class="navbar-brand" ><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo"> <!--<span class="d-none d-lg-inline">{{ site_name }}</span>--></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% for i in menus %}
                        <li class="nav-item"><a class="nav-link" href="{{ i.url }}">{{ i.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="messages-zone">
        {{ render_messages() }}
    </div>

    <div id="page-content">

        {% block page_content %}
        <div id="content" class="container mt-4 pb-4">
        {% block content %}{% endblock %}
        </div>
        {% endblock %}
    </div>

    {% if not no_newsletter %}
    <div id="newsletter" class="jumbotron-fluid">
        <div class="container">
        <p>Pour ne rien rater, inscrivez vous à nos infolettres !</p>
        <form action="{{ url_for('visitor.newsletter-subscribe') }}" method="post">
            {{ newsletter_form.hidden_tag() }}
            <div class="form-row">
                <div class="col-md-5">{{ newsletter_form.name(placeholder='Prénom et nom', class_='form-control mb-2') }}</div>
                <div class="col-md-5">{{ newsletter_form.email(placeholder='Adresse email', class_='form-control mb-2') }}</div>
                <div class="col-md-2">{{ newsletter_form.submit_button(class_='btn btn-primary mb-2') }}</div>
            </div>

        </form>
        </div>
    </div>
    {% endif %}

    <footer class="container mt-4">
        <div id="bottom-nav">
            {% for k, pages in bottom_menu.items() %}
                <div class="bottom-nav-block">
                <h3>{{ k }}</h3>
                    <ul>
                    {% for p in pages %}
                        <li><a href="{{ url_for('visitor.page-view', id=p.id, slug=p.slug) }}">{{ p.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>

            {% endfor %}
        </div>

        <div id="bottom-txt" class="mt-2">
            &copy; {{ site_name }}
            &bull; Site web par <a href="{{ author_url }}">{{ author_name }}</a>  (version: <a href="{{ repo_url }}">{{ site_version }}</a>)
            {# admin #}
            {% if not current_user.is_authenticated %}
                &bull; <a href="{{ url_for('admin.login') }}">Sésame</a>
            {% else %}
                &bull; <a href="{{ url_for('admin.index') }}">Administration</a> (<a href="{{ url_for('admin.logout') }}">Se déconnecter</a>)
            {% endif %}
        </div>
    </footer>

    {% block scripts %}
        {{ bootstrap.load_js() }}
        {# add FontAwesome kit if available #}
        {% if fa_kit != '' %}
            <script src="https://kit.fontawesome.com/{{ fa_kit }}.js"></script>
        {% endif %}
        {% if gtag != '' and not no_gtag %}
            <script src="https://cdn.jsdelivr.net/npm/cookies-eu-banner@2.0.1/dist/cookies-eu-banner.min.js"></script>
            <script>
                new CookiesEuBanner(function () {
                    (function (w,d,s,g,i) {
                        /* add <script> */
                        let a = d.createElement(s);
                        a.async = true;
                        a.src = g + '?id=' + i;
                        let p = d.getElementsByTagName(s)[0];
                        p.parentNode.insertBefore(a, p);
                        /* create data layer */
                        w.dataLayer = w.dataLayer || [];
                        /* configure */
                        function gtag(){dataLayer.push(arguments);}
                        gtag('js', new Date());
                        gtag('config', i);
                    })(window, document, 'script', 'https://www.googletagmanager.com/gtag/js', '{{ gtag }}');
                }, true);
            </script>
        {% endif %}
    {% endblock %}
</body>
</html>