{% macro create_modal(id, title, content, bottom='', action='', multipart=False) %}
  <div id="{{ id }}" class="modal fade" role="dialog">
        <form class="modal-dialog" method="post" {% if action %}action="{{ action }}"{% endif %} {% if multipart %}enctype="multipart/form-data"{% endif %}>
        <div class="modal-content">
            <div class="modal-header">
                <h5>{{ title|safe }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            {{ content|safe }}
            </div>
            {%  if bottom != '' %}
            <p class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                {{ bottom|safe }}
            </p>
            {% endif %}
        </div>
        </form>
    </div>
{% endmacro %}

{% macro create_delete_modal(model, id, info, link) %}
    {{ create_modal(
        'delete-' + model + '-' + id|string,
        'Suppression', '<p>Voulez vous vraiment supprimer ' + info + ' ?</p>',
        '<input type="submit" value="Supprimer" class="btn btn-primary" />',
        url_for(link, id=id)) }}
{% endmacro %}


{% macro include_editor(context='textarea') %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/trumbowyg.min.js" integrity="sha512-sffB9/tXFFTwradcJHhojkhmrCj0hWeaz8M05Aaap5/vlYBfLx5Y7woKi6y0NrqVNgben6OIANTGGlojPTQGEw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/langs/fr.min.js" integrity="sha512-UcIsJdBCuvuHt4LR6FoShixLYQXvVPTFrHBI+cXa1VNBJ7E+dRLb42xyLzfR6mKiQ7Z/YdRMFjQSDzvYYCr3vw==" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='editor.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/fontsize/trumbowyg.fontsize.min.js" integrity="sha512-DOJaq3OCe5hLSr73aQBMiJY4kc+L5UwessOl6g2oxyy7VDnZVWt+TgWVy2nh2ypf7bwoaxZmPnIMiRC5PNZecA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/cleanpaste/trumbowyg.cleanpaste.min.js" integrity="sha512-y7o2DGiZAj5/HOX10rSG1zuIq86mFfnqbus0AASAG1oU2WaF2OGwmkt2XsgJ3oYxJ69luyG7iKlQQ6wlZeV3KQ==" crossorigin="anonymous"></script>
<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/plugins/allowtagsfrompaste/trumbowyg.allowtagsfrompaste.min.js" integrity="sha512-Zuq+wA/YLqIGzMTTwdEx7amSDq7QKEcygLO4S8w1MeUytDQAGGZza/kZxCfwp0QiPdGHQHxl/bYGxmoy1MwdDA==" crossorigin="anonymous"></script>
 -->
    <script>
        // change editor options
        $('.trumbowyg-textarea').trumbowyg({
            lang: 'fr',
            minimalLinks: true,
            btnsDef: {
                shiftedh1: {
                    fn: () => {
                        document.execCommand('formatBlock', false, 'h3');
                    },
                    title: 'Titre 1',
                    tag: 'h3',
                    ico: 'h1'
                },
                shiftedh2: {
                    fn: () => {
                        document.execCommand('formatBlock', false, 'h4');
                    },
                    title: 'Titre 2',
                    tag: 'h4',
                    ico: 'h2'
                },
                customFormatting: {
                    dropdown: ['p', 'blockquote', 'shiftedh1', 'shiftedh2'],
                    ico: 'p'
                }
            },
            btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['p', 'blockquote', 'shiftedh1', 'shiftedh2'],
                ['strong', 'em', 'underline'],
                ['link', 'insertImage'],
                ['fontsize'],
                ['justifyLeft', 'justifyCenter'],
                ['unorderedList', 'orderedList'],
                ['removeformat'],
                ['fullscreen']
            ],
            plugins: {
                fontsize: {
                    allowCustomSize: false,
                    sizeList: [
                        '110%',
                        '120%',
                        '130%'
                    ]
                },
                pasteUpload: {
                    url: "{{ url_for('admin.image-base64') }}?context={{ context }}",
                },

                /*
                allowTagsFromPaste: {
                    allowedTags: ['br', 'p']
                }
                */
            }
        },
        );
    </script>
{% endmacro %}