{% extends "base.ex.html" %}

{% block page_title %}Accueil{% endblock %}

{% block page_content %}
    <div id="index-page">
    <div id="index-head-jumbotron" class="jumbotron jumbotron-fluid mb-4">
        <div class="container">
        <h1>{{ content.title }}</h1>
        {{ content.content|safe }}
        </div>
    </div>

    <div id="index-featured" class="pb-4">

        <h1>Mis en avant</h1>

        <div class="row" id="admin-row-block">
            {% for block in blocks %}
                <div class="{{ block.attributes }}">
                    <div class="block">
                        {{ block.text|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div> <!-- featured -->
    
    {% include 'newsletter.inc.html' %}

    {% if latest_briefs|length > 0 %}

        <div id="index-briefs" class="pb-4">

        <h1>Nos dernières infos</h1>

        <div class="container">
        <div class="row">

        {%  for brief in latest_briefs %}
            <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                <h2 class="card-title">{{ brief.title }}</h2>
                <p class="card-text">{{ brief.summary }}</p>
                    <a href="{{ url_for('visitor.brief-view', id=brief.id, slug=brief.slug) }}" class="card-link">Lire la suite</a>
                </div>
            </div>
            </div>
        {% endfor %}
         </div>
        </div>

        </div> <!-- briefs -->
    {% endif %}
    </div> <!-- index page -->
{% endblock %}