{% extends "base.ex.html" %}

{% block page_title %}Accueil{% endblock %}

{% block page_content %}
    <div id="index-page">
    <div id="index-head-jumbotron" class="jumbotron jumbotron-fluid pt-4 pb-4">
        <div class="container">
        <h1>{{ content.title }}</h1>
        {{ content.content|safe }}
        </div>
    </div>

    <div id="index-featured" class="pb-4">

        <h1>Mis en avant</h1>

        <div class="container">
        <div class="card-deck">

        {% for featured in featureds %}
            <div class="card{% if loop.last %} d-none d-lg-block{% elif loop.index == 2 %} d-none d-md-block{% endif %}">
                <img class="card-img-top" src="{{ featured.image_link }}" alt="Card image cap">
                <div class="card-body">
                <h3 class="card-title">{{ featured.title }}</h3>
                <p class="card-text">{{ featured.text|safe }}</p>
                    <a href="{{ featured.link }}" class="btn btn-primary">{{ featured.link_text }}</a>
                </div>
            </div>
        {% endfor %}
         </div>
        </div>

    </div> <!-- featured -->
    
    {% include 'newsletter.inc.html' %}

    {% if latest_briefs|length > 0 %}

        <div id="index-briefs" class="pb-4">

        <h1>Nos dernières infos</h1>

        <div class="container">
        <div class="card-deck">

        {% for brief in latest_briefs %}
            <div class="card{% if loop.last %} d-none d-lg-block{% endif %}">
                <div class="card-body">
                <h3 class="card-title">{{ brief.title }}</h3>
                <p class="card-text">{{ brief.summary }}</p>
                    <a href="{{ url_for('visitor.brief-view', id=brief.id, slug=brief.slug) }}" class="card-link">Lire la suite</a>
                </div>
            </div>
        {% endfor %}
         </div>
        </div>

        <div id="list-links" class="container mt-4 mb-4">
            <a href="{{ url_for('visitor.briefs') }}">Toutes nos infos</a>
            &bull; <a href="{{ url_for('visitor.newsletters') }}">Toutes nos infolettres</a>
            &bull; <a href="{{ url_for('visitor.albums') }}">Toutes nos photos</a>
        </div>

        </div> <!-- briefs -->
    {% endif %}
    </div> <!-- index page -->
{% endblock %}