{% extends "base.ex.html" %}
{% from 'bootstrap4/form.html' import render_field%}
{% set no_newsletter = True %}

{% block page_title %}Inscription à nos infolettres{% endblock %}


{% block section_content %}
        <form action="{{ url_for('visitor.newsletter-subscribe') }}" method="post" id="newsletter-form">
            {{ form.hidden_tag() }}
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {% if recaptcha_public_key != '' and not no_tracking %}
                    <button id="submit_button" name="submit_button" class="btn btn-primary mb-2 g-recaptcha"
                            data-sitekey="{{ recaptcha_public_key }}"
                            data-action="submit"
                            data-callback="recaptcha_submit">
                        S'inscrire</button>
            {% else %}
                <div class="col-md-2">{{ newsletter_form.submit_button(class_='btn btn-primary mb-2') }}</div>
            {% endif %}
        </form>
{% endblock %}