{% extends "base.ex.html" %}
{% from "helpers.inc.html" import render_field %}
{% set no_newsletter = True %}

{% block page_title %}Inscription à la newsletter{% endblock %}

{% block content %}
    <section>
        <h2>Inscription à la newsletter</h2>
        <form action="{{ url_for('visitor.newsletter-register') }}" method="post">
            <ul class="fields">
                {{ form.hidden_tag() }}
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.opt_in) }}
            </ul>
            <p>{{ newsletter_form.submit_button }}</p>
        </form>
    </section>
{% endblock %}