{% extends "base.ex.html" %}
{% from 'bootstrap/form.html' import render_field%}
{% set no_newsletter = True %}

{% block page_title %}Inscription à la newsletter{% endblock %}

{% block content %}
    <section>
        <h2>Inscription à la newsletter</h2>
        <form action="{{ url_for('visitor.newsletter-subscribe') }}" method="post">
            {{ form.hidden_tag() }}
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(newsletter_form.submit_button) }}
        </form>
    </section>
{% endblock %}