{% extends "base.ex.html" %}

{% block page_title %}Infolettres{% endblock %}


{% block section_content %}

    <table class="admin-list">
        {% for newsletter in newsletters %}
            <tr>
                <td class="left">
                    <span class="title"><a href="{{ url_for('visitor.newsletter-view', id=newsletter.id, slug=newsletter.slug) }}">{{ newsletter.title }}</a></span>
                    <span class="info">Publiée {{ newsletter.date_published|date_formatter }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}