{% extends "base.ex.html" %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block og_description %}{% endblock %}
{% block og_type %}article{% endblock %}
{% block extra_meta %}
    <meta property="og:article:published_time" content="{{ page.date_created }}" />
    <meta property="og:article:modified_time" content="{{ page.date_modified }}" />
{% endblock %}

{% block content %}
    <section>
    <h2>{{ page.title }}</h2>

        {% if current_user.is_authenticated %}
            <p class="page-info">
                Dernière modification <b>{{ page.date_modified|date_formatter }}</b>.
                <a href="{{ url_for('admin.page-edit', id=page.id, slug=page.slug) }}">Éditer cette page</a>.
            </p>
        {% endif %}

    {{ page.content_with_summary()|safe }}
    </section>

    {% if page.next_id %}
        <section class="page-next">
        <p>
            <span class="fas fa-arrow-right"></span>
            Partie suivante :
            <a href="{{ url_for('visitor.page-view', id=page.next_id, slug=page.next.slug) }}">{{ page.next.title }}</a>
        </p>
        </section>
    {% endif %}
{% endblock %}