{% extends 'newsletter/base.ex.html' %}

{% block content %}
    <p style="border-bottom: 1px solid #ddd; padding-bottom: 16px; margin-bottom: 16px;">
        Bonjour {{ recipient.name }}, voici notre nouvelle infolettre !
        {% with link = url_for('visitor.newsletter-view', id=newsletter.id, slug=newsletter.slug, _external=True) %}
        Notez que vous pouvez directement consulter ce contenu à l'adresse suivante: <a href="{{ link }}">{{ link}}</a> s'il ne s'affiche pas correctement ici.
        {% endwith %}
    </p>

    <h2>{{ newsletter.title }}</h2>
    {{ newsletter.content|safe }}
{% endblock %}