{% extends 'newsletter/base.ex.html' %}
{% set no_unsubscribe=True %}

{% block content %}
    <p>Bonjour {{ name }},</p>
    <p>
        {% with link = url_for('visitor.newsletter-confirm', id=recipient.id, hash=recipient.hash, _external=True) %}
        Vous avez été inscrit à nos infolettres. Si c'est une erreur, <b>vous ne devez rien faire</b>.
        Dans le cas contraire, vous avez 24 heures pour <b>confirmer votre inscription</b> en cliquant sur le lien suivant:
        <a href="{{ link }}">{{ link }}</a>
        (faites un copier-coller si le lien ne peut être cliqué).
        {% endwith %}
    </p>
{% endblock %}