{% extends "base.ex.html" %}
{% set no_newsletter = True %}

{% block page_content %}

    <div id="content" class="admin">

        <div id="admin-content">
        {% block content %}{% endblock %}
        </div>

        <div id="admin-menu">
            <ul>
                <li><a href="{{ url_for('admin.newsletters') }}" class="{%  if admin_current == 'newsletter' %}selected{% endif %}">Gestion des newsletters</a></li>
                <li><a href="{{ url_for('admin.pages') }}" class="{%  if admin_current == 'page' %}selected{% endif %}">Gestion des pages</a></li>
                <li><a href="{{ url_for('admin.categories') }}" class="{%  if admin_current == 'category' %}selected{% endif %}">Gestion des catégories</a></li>
                <li><a href="{{ url_for('admin.files') }}" class="{%  if admin_current == 'file' %}selected{% endif %}">Gestion des fichiers</a></li>
                <li><a href="{{ url_for('admin.newsletter-recipients') }}" class="{%  if admin_current == 'recipient' %}selected{% endif %}">Inscrits à la newsletter</a></li>
                <li><a href="{{ url_for('admin.menus') }}" class="{%  if admin_current == 'menus' %}selected{% endif %}">Gestion des menus</a></li>
            </ul>
        </div>
    </div>
{% endblock %}