{% extends "admin/base.ex.html" %}
{% from "helpers.inc.html" import create_modal, create_delete_modal %}
{% from 'bootstrap4/form.html' import render_field %}

{% set admin_current = 'file' %}

{% block page_title %}Gestion des fichier{% endblock %}

{% block content %}
    <section>
    <h2>Gestion des fichiers</h2>

    <p>Taille totale des fichiers: {{ total_size|file_size_formatter }}</p>

    <p>
        <a class="btn btn-primary" href="#uploadFile" data-toggle="modal"><span class="fas fa-plus"></span> <i>Uploader</i> un fichier</a>
        {% set modal_create_content %}
            {{ form.hidden_tag() }}
            {{ render_field(form.file_uploaded) }}
            {{ render_field(form.description) }}
        {% endset %}
        {{ create_modal(
            'uploadFile',
            'Uploader un fichier',
            modal_create_content,
            render_field(form.submit_button),
            multipart=True) }}
    </p>

    <table class="admin-list">
        {% for f in files %}
            <tr>
                <td class="icon"><span class="{{ f.get_fa_icon() }}"></span></td>
                <td class="left">
                    <span class="title"><a href="{{ url_for('visitor.upload-view', id=f.id, filename=f.file_name) }}">{{ f.file_name }}</a></span>
                    <span class="info">{{ f.description }}</span>
                </td>
                <td class="right">
                    <span class="buttons">
                        <a class="button-like btn-copy" data-clipboard-text="{{ url_for('visitor.upload-view', id=f.id, filename=f.file_name, _external=True) }}" href="#"><span class="fas fa-paperclip"></span></a>
                        <a class="button-like" href="#delete-file-{{ f.id }}" data-toggle="modal"><span class="fas fa-minus-square"></span></a>
                        {{ create_delete_modal('file', f.id, 'le fichier "' + f.file_name + '"', 'admin.file-delete') }}
                    </span>
                    <span class="info">{{ f.file_size|file_size_formatter }}. Uploadé: {{ f.date_created|date_formatter }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script>
        const clipboard = new ClipboardJS('.btn-copy');
    </script>
{% endblock %}