{% extends "admin/base.ex.html" %}
{% from "helpers.inc.html" import create_delete_modal, create_modal %}
{% from 'bootstrap4/form.html' import render_field %}

{% set admin_current = 'menus' %}
{% block page_title %}Gestion des menus{% endblock %}

{% block section_content %}
        <p>
            <a class="btn btn-primary" href="#createMenu" data-toggle="modal"><span class="fas fa-plus"></span> Ajouter une entrée au menu</a>
            {% set modal_create_content %}
                {{ form.hidden_tag() }}
                {{ render_field(form.text) }}
                {{ render_field(form.url) }}
                {{ render_field(form.position) }}
            {% endset %}
            {{ create_modal(
                'createMenu',
                'Créer une entrée de menu',
                modal_create_content,
                render_field(form.submit_button)
                ) }}
        </p>
        {% for menus in (main_menu, secondary_menu) %}

        <h3>Menu {% if menus == main_menu %}principal{% else %}secondaire{% endif %}</h3>

        <table class="admin-list">

            {% for menu in menus %}
                <tr>
                    <td class="left">
                        <span class="title">{{ menu.text }}</span>
                        <span class="info">Menu {% if menu.position.value == 2 %}secondaire{% else %}primaire{% endif %} &bull; <a href="{{ menu.url }}">{{ menu.url }}</a></span>
                    </td>
                    <td class="right">
                        <span class="buttons">
                            <a class="button-like" href="#editMenu{{ menu.id }}" data-toggle="modal"><span class="fas fa-pen-square"></span></a>
                            {% set modal_edit_content %}
                                {{ form.csrf_token }}
                                {{ form.is_create(value=False) }}
                                {{ form.id_menu(value=menu.id) }}

                                <div class="form-group required">
                                {{ form.text.label(class_='form-control-label') }} {{ form.text(value=menu.text, class_='form-control') }}
                                </div>

                                <div class="form-group required">
                                {{ form.url.label(class_='form-control-label') }} {{ form.url(value=menu.url, class_='form-control') }}
                                </div>
                            {% endset %}
                            {{ create_modal(
                                'editMenu' + menu.id|string,
                                'Éditer un menu',
                                modal_edit_content,
                                render_field(form.submit_button)
                             ) }}
                            <a class="button-like" href="{{ url_for('admin.menu-move', id=menu.id, action='down') }}"><span class="fas fa-caret-square-up"></span></a>
                            <a class="button-like" href="{{ url_for('admin.menu-move', id=menu.id, action='up') }}"><span class="fas fa-caret-square-down"></span></a>
                            <a class="button-like" href="#delete-menu-{{ menu.id }}" data-toggle="modal"><span class="fas fa-minus-square"></span></a>
                            {{ create_delete_modal('menu', menu.id, 'le menu "' + menu.text + '"', 'admin.menu-delete') }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% endfor %}
{% endblock %}