{% extends "base.ex.html" %}


{% set admin_current = 'newsletter' %}
{% block page_title %}{{ newsletter.title }}{% endblock %}

{% block content %}
    <section>
    <h2>{{ newsletter.title }}</h2>
        <p class="newsletter-info">
            Ceci est une prévisualisation de votre infolettre{% if newsletter.draft %}, <b>qui n'est actuellement pas publique</b>{% endif %}.
            <a href="{{ url_for('admin.newsletter-edit', id=newsletter.id, slug=newsletter.slug) }}">Éditer cette newsletter</a> ou
            <a href="{{ url_for('admin.newsletters') }}">revenir à la liste</a>.
        </p>
    {{ newsletter.content|safe }}
    </section>
{% endblock %}