{% extends "admin/base.ex.html" %}
{% from "helpers.inc.html" import create_delete_modal %}

{% set admin_current = 'recipient' %}

{% block page_title %}Inscrits à l'infolettre{% endblock %}

{% block section_content %}

    <table class="admin-list">
        {% for recipient in recipients %}
            <tr>
                <td class="left">
                    <span class="title">{{ recipient.name }}</span>
                    <span class="info">{{ recipient.get_scrambled_email() }}</span>
                </td>
                <td class="right">
                    <span class="buttons">
                        <a class="button-like" href="#delete-recipient-{{ recipient.id }}" data-toggle="modal"><span class="fas fa-minus-square"></span></a>
                        {{ create_delete_modal('recipient', recipient.id, 'le destinataire nommé "' + recipient.name + '".', 'admin.newsletter-recipient-delete') }}
                    </span>
                    <span class="info">Inscription: {{ recipient.date_created|date_formatter }}, <b>{% if not recipient.confirmed %}non{% endif %} confirmé</b></span>
                </td>
            </tr>
        {% endfor %}
        {% if recipients|length == 0 %}
            <tr><i>Pas d'inscrits pour le moment.</i></tr>
        {% endif %}
    </table>
{% endblock %}