{% extends "admin/base.ex.html" %}
{% from 'helpers.inc.html' import include_editor %}
{% from 'bootstrap4/form.html' import render_field, render_form_row %}

{% set admin_current = 'newsletter' %}

{% block page_title %}Modification d'une infolettre{% endblock %}

{% block content %}
    <section>
    <h2>Modification d'une infolettre</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.title) }}
        {{ render_field(form.content) }}
        {{ render_form_row([form.submit_button, form.submit_button_2]) }}
    </form>
    </section>
{% endblock %}

{# add editor #}
{% block scripts %}
    {{ super() }}
    {{ include_editor('newsletter') }}
{% endblock %}


{% block other_head_stuffs %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.1/ui/trumbowyg.min.css">
{% endblock %}