{% extends "admin/base.ex.html" %}
{% from "helpers.inc.html" import render_field %}

{% set admin_current = 'page' %}

{% block page_title %}Modification d'une page{% endblock %}

{% block content %}
    <section>
    <h2>Modification d'une page</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <ul class="fields">
            <li>{{ render_field(form.title) }}</li>
            <li>{{ render_field(form.content) }}</li>
            <li>{{ render_field(form.category) }}</li>
        </ul>
        <p>{{ form.submit_button }}</p>
    </form>
    </section>
{% endblock %}

{# add editor #}
{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.20.0/trumbowyg.min.js"></script>
    <script src="{{ url_for('static', filename='editor.bundled.js') }}"></script>

{% endblock %}


{% block other_head_stuffs %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.20.0/ui/trumbowyg.min.css">
{% endblock %}