{% extends "admin/base.ex.html" %}

{% set admin_current = 'page' %}

{% block page_title %}Gestion des pages{% endblock %}

{% block content %}
    <section>
    <h2>Gestion des pages</h2>

    <p>
        <a class="button-like" href="{{ url_for('admin.page-create') }}"><span class="fas fa-plus"></span> Ajouter une page</a>
        <a class="button-like" href="#tmpModal" data-toggle="modal">Ouvrir modale</a>
    </p>

    <form id="tmpModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <h3>Titre</h3>
            <div class="modal-content">
            <p>Ceci est le contenu de la modale</p>
            </div>
            <p class="modal-bottom">
                <button>Oui</button>
                <button class="modal-close">Nan</button>
            </p>
        </div>
    </form>

    <table class="admin-list">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Actions</th>
    </tr>
    </thead>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>
                    <span class="button-group">
                    <a class="button-like" href="{{ url_for('admin.page-edit', id=page.id, slug=page.slug) }}"><span class="fas fa-edit"></span></a>
                    <a class="button-like"><span class="fas fa-trash"></span></a>
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>
    </section>
{% endblock %}